# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dev\projets_persos\hackerrank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
